@model IEnumerable<Movie>

<h1>Movie List</h1>
<a asp-action="Create" asp-controller="Movie" class="btn btn-outline-secondary">
    <i class="bi bi-plus-circle-fill"></i> Add Movies
</a>
@if (Model == null)
{
    <h2>No movies provided</h2>
}
else
{
    foreach (Movie movie in Model)
    {
        @*<h3>@movie.ToString()</h3>*@
        <partial name="_MoviePartialView.cshtml" for="@movie"/>
    }
}
