@model IEnumerable<Movie>

<h1>Movie List</h1>
<form class="d-flex" method="post" asp-controller="Movie" asp-action="Search">
    <input name="key" class="form-control me-sm-2" type="search" placeholder="Search">
    <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
</form>

<a asp-action="Create" asp-controller="Movie" class="btn btn-outline-secondary">
    <i class="bi bi-plus-circle-fill"></i> Add Movies
</a>

@if (Model == null)
{
    <h2>No movies provided</h2>
}
else
{
    foreach (Movie movie in Model)
    {
        @*<h3>@movie.ToString()</h3>*@
        <partial name="_MoviePartialView.cshtml" for="@movie"/>
    }
}
