@model IEnumerable<Movie>

<h1>Movie List</h1>
@if (Model == null)
{
    <h2>No movies provided</h2>
}
else
{
    foreach (Movie movie in Model)
    {
        @*<h3>@movie.ToString()</h3>*@
        <partial name="_MoviePartialView.cshtml" for="@movie"/>
    }
}
