@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Image Post!</h1>
    <div class="card-img">
        <img class="img-fluid" x="50%" y="50%" fill="#dee2e6" dy=".3em" src="images/SMLogo.png" width="200" height="200" />
    </div>
    <div>
        <div class="toast show" role="alert" aria-live="assertive" aria-atomic="true">
            <div class="toast-header">
                <strong class="me-auto">Hello!</strong>
                <small>auto-welcome</small>
                <button type="button" class="btn-close ms-2 mb-1" data-bs-dismiss="toast" aria-label="Close">
                    <span aria-hidden="true"></span>
                </button>
            </div>
            <div class="toast-body">
                Hello User! Welcome to Image Post, where you can post images and look at other users posts. Make an account or log in and have some fun!
            </div>
        </div>
        <h4>

        </h4>
    </div>

</div>
