<div>
	<h1>About The Creator</h1>
	<div>
		<p>
			Wren McEntire, Cohort 37
			<br />
			I chose to do an image posting board for posting random stuff, like memes, art, or projects.
		</p>

	</div>
</div>