@model User;


@if (Model == null)
{
        <h2>There is no user here.</h2>
}
else
{
    <h3>@Model.Name</h3>
    <div class="imageFrame">
        <img src="@Model.userImageLink"/>
    </div>
    <div>
        <div>
            @if(Model.Id == ViewBag.UserID)
            {
                 <a asp-controller="Home" asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-primary mx-2">
                    <i class="bi bi-caret-right-fill"></i> Edit
                </a>
                <a asp-controller="Movie" asp-action="Remove" asp-route-id="@Model.Id" class="btn btn-outline-danger mx-2">
                    <i class="bi bi-file-x "></i> Remove
                </a>
            }
        </div>
        
    </div>
}