@model IEnumerable<Game>

@if(Model == null){
	<h1>No Games</h1>
}else{
	<div>
		<h1>Game Library</h1>
		<h2>Games Left: @ViewBag.GameCount</h2>
		<div>
		<form class="d-flex" method="post" asp-controller="Home" asp-action="Search">
			<input name="key" class="form-control me-sm-2" type="search" placeholder="Search">
			<button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
		</form>
		<form class="d-flex" asp-controller="Home" asp-action="Filter" method="post">
    <input name="platform" class="form-control me-sm-2" placeholder="Patform" />
    <input name="esrb" class="form-control me-sm-2" placeholder="ESRB Rating" />
    <button type="submit" class="btn btn-outline-success">Filter</button>
</form>
		<br/>
		<a asp-action="Create" asp-controller="Home" class="btn btn-outline-secondary">
			<i class="bi bi-plus-circle-fill"></i> Add Game
		</a>
		</div>
		@* List of Games:
			Don't Starve Together,
			Sea of Thieves,
			Deep Rock Galactic,
			Dwarf Fortress,
			Persona 5,
			Ultrakill,

			
		*@
		@foreach(Game game in Model){
			<partial name="_PartialGameView.cshtml" for="@game"/>
		}
	</div>
}