@{
    ViewData["Title"] = "Future Crimes";
}

<div class="text-center">
    <h1 class="display-4">Crimes I will commit</h1>
    <img src="~/images/RockClimbing.jpeg" width="240" height="200" />

    <p>Using my listed skills I plan on committing the following crimes:</p>
    <div class="display-6">
        <ul>
            <li><i class="bi bi-plus"></i>  Make video game (very evil)</li>
            <li><i class="bi bi-plus"></i>  Use Comic Sans</li>
            <li><i class="bi bi-plus"></i>  Proxy MTG cards (no money to WoC)</li>
            <li><i class="bi bi-plus"></i>  Climb a building (only one story tall)</li>
            <li><i class="bi bi-plus"></i>  Impersonate random guy (I don't know them)</li>
            <li><i class="bi bi-plus"></i>  Climb another building</li>
        </ul>
    </div>
    <div class="columns">
        <div class="">
            <img src="~/images/R.jpg" width="120" height="100" />

        </div>
        <div class="">
            <p>
                For real though, I want to get into making games as a job/career. I don't
                want to work for a triple A studio though since the games they tend to make
                are less of what I am interested in making. I plan on getting into standard
                software developement, and on the side make small games. If those go well I
                plan on making an indie dev studio that I can begin to turn into my new full
                time job.
            </p>
        </div>
    </div>
</div>
