@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Go Away</h1>
    <p>I am criminal who commits crimes my skills are many here is just a few </p>
    <img src="~/images/shitty design.jpg" width="240" height="200" />

    <div class="display-6">
        <ul>
            <li><i class="bi bi-plus"></i>  Magical spells</li>
            <li><i class="bi bi-plus"></i>  Graphic Design</li>
            <li><i class="bi bi-plus"></i>  Stealth</li>
            <li><i class="bi bi-plus"></i>  Kickflipping a 2x4</li>
            <li><i class="bi bi-plus"></i>  Goofy Voices</li>
            <li><i class="bi bi-plus"></i>  Stealth (accidental)</li>
        </ul>
        <br/>
        <a asp-controller="Home" asp-action="ParamTest">Param Test Simple</a>
        @*use asp-route-id to send id values (can be whatever the action takes)*@
        <a asp-controller="Home" asp-action="ParamTest" asp-route-id="66">Param Route</a>
        @*old lmao*@
        <a href="/Home/ParamTest?id=66">Query Param</a>
        <form asp-controller="Home" asp-action="ParamTest" method="post">
            Enter a number: <input name="id" />
            <button type="submit">Submit</button>
        </form>

        <form action="/Home/ParamTest/2?id=3" method="post">
            Enter a number: <input name="id" />
            <button type="submit">Submit</button>
        </form>

        

    </div>
    <div>
        <img src="~/images/dnd.jpg" width="120" height="100" />

        <div>
            <p>
                For real though, I have a lot of experience with computers.
                It has always been my passion and any field that involves
                computers I have tried. Through scouting I learned leadership
                and discipline, through my many classes and extracurricular
                activities I learned the logic behind programming, and 
                through playing many video games and studying game design
                I learned what makes games fun. My goal is to make games that
                myself and others can enjoy. If I get paid for it, that's 
                just a bonus.
            </p>
        </div>
        <!--<a asp-controller="Home" asp-action="webpage" asp-route-variable="input"></a>-->
    </div>
</div>
