@{
    ViewData["Title"] = "Past Crimes";
}

<div class="text-center">
    <h1 class="display-6">
        Past Crimes
    </h1>
    <p>I am a crime-inal and I comment crimes</p>
    <img src="~/images/Funky Remastered.png" width="120" height="100" />
    <ul class="display-6">
        <li><i class="bi bi-plus"></i>  Project Astro (we stole space lmao)</li>
        <li><i class="bi bi-plus"></i>  Stunt Knight (robot knight who does flips)</li>
        <li><i class="bi bi-plus"></i>  Scratch games (I made a lot of them)</li>
        <li><i class="bi bi-plus"></i>  DnD Homebrew (like a witches cauldron)</li>
    </ul>
    <div class="column">
        <img src="~/images/epic skillz.jpg" width="240" height="200" />
        <div>
            <p>
                For real though, I kind of stretch myself thin over a lot of projects.
                Even if I've done a lot I haven't focused on my accomplishements. I've 
                gotten my Eagle rank in scouts, taken an apprenticeship for graphic 
                design, been in a small game dev team, and a few other things. Currently
                I'm working with some of my friends to make a TTRPG based around drones,
                which I mentioned above. I have done a lot and I really should recognize it.
            </p>
        </div>
    </div>
</div>
