@{
    ViewData["Title"] = "Privacy Policy";
}
@*    
    comments here
*@
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<p tag="jump">never</p> <!-- Use asp-fragment="jump" to jump to this point! -->
@section pagetitle{
    <h1>@ViewData["Title"]</h1>
}