html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.imageFrame {
    width: calc(100% - 8px);
    height: auto;
    border: solid;
    border-width: 3px;
    border-color: black;
    margin: 4px;
}

.userImageFrame {
    width: 40px;
    height: 32px;
    border-width: 1px;
    border-color: black;
}

.ProfileImage {
    width: 150px;
    height: auto;

}

.Post {
    margin: 10px;
}